<form>
    <h2>צור קשר</h2>
    <label for="name">שם:</label><br>
    <input type="text" id="name" name="name" required><br>
    <label for="phone">טלפון:</label><br>
    <input type="tel" id="phone" name="phone" required><br>
    <label for="email">email:</label><br>
    <input type="text" id="email" name="email" required><br>
<textarea required></textarea>
<button type="button" class="btn btn-warning" style="color: white; margin-bottom: 5px;">שלח</button>
<h5>YooSport</h5>
<p class="tab">ת.ד 12345 פתח תקווה</p>
<p class="tab">  054-1234567   <span><i class="fab fa-whatsapp"></i></span><span> <i class="fas fa-phone-alt"></i></span> </p>
  <p class="tab">  abc1763@gmail.com   <span><i class="fab fa-facebook"></i> </span> <span><i class="fab fa-instagram"></i></span> <span> <i class="far fa-envelope"></i> </span> </p>

</form>


