:host{
    direction: rtl;
}
aside{
    float: right;
    background-color: gold;
    width: 150px;
    background-image: linear-gradient(
    45deg
    ,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
}



aside button{
    background-color: transparent;
    display: block;
    border-color: transparent;
    height: 50px;
    width: 100%;
    
}

aside button:hover{
    background-color: rgba(255, 255, 255, 0.582);
}

h1{
    
    margin: auto;
    margin-bottom: 50px;
}
 #aside2{
     background-color: rgba(128, 156, 241, 0.753);
     margin-left: 50px;
 }

th, td{
    width: 300px;
}

.trtr:hover{
    background-color:rgba(128, 156, 241, 0.753) ;
}
 .tableDiv{
     width: 999px;
 }

 .trBig{
     background-color: rgb(218, 213, 213);
     
 }

 i:hover{
    color: red;
}

#delSpan{
    margin-left: 20px;
}

input, select{
    margin-left: 20px;
    
}

.black_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
  }
  .white_content {
      direction: rtl;
    display: none;
    position: sticky;
    top: 0% ;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    border: 16px solid rgba(128, 156, 241, 0.753);
    background-color: white;
    z-index: 1002;
    overflow: auto;
  }

  #fade{
      height: 900%;
     
  }

  #newForm input{
      display: block;
  }

  #outOfStockP:hover{
      color: red;
      font-weight: bolder;
  }

  .oredInput{
      display: block;
      border: transparent;
  }

  

  