:host{
    margin-top: 50px;
}

.catalogIMG{
    margin-top: 25px;
    width: 250px;
    height: 250px;
    
    
}


#title{
    margin-top: 15px;
    margin-bottom: 0px;
}

img:hover{
    width:320px !important;
    height: 320px !important ;
  
}

#imgDiv{
    width: 280px;
    height: 280px;
    overflow-x: hidden;
    overflow-y: hidden;
    
}

#stock{
    
    border: solid red;
    font-size: 12px;
    padding-top: 8px;
    background-color: white;
    color: red;
    font-weight: bolder;
   position: absolute;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

