:host{
    direction: ltr;
}



#theme{
    width: 100%;
    height: 300px;
    background-image: url("/assets/img/themePicture.jpg");
    background-position: center;
    text-align: left;
    

}
#div1{
    background-image: url("/assets/img/themePicture.jpg");
    width: 100%;
    height: 800px;
    background-position: center;
   
}

#logo{
    width: 200px;
    height: 60px;
}

.products{

    display: inline-block;
    height: 50px;
    text-align: center;
    
}

#title{
    text-align: center;
    color: gold;
    font-size: 70px;
    font-weight: bolder;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-bottom: 30px;
    

}

#catalog{
    text-align: center;
    margin-bottom: 60px;
}

.catalogIMG{
   
    width: 250px;
    height: 250px;
}

hr{
    color: gold;
    height: 6px;
}

#catalogDiv{
display: inline-block;
width: 80%;
}

#coatalogOptions{
    display:inline-block;
    position: absolute;
    width: 20%;
    text-align: center;
    background-color: gold;
    height: 1000px;
    background-image: linear-gradient(
        45deg
        ,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);;
    
    
}

.radio{
    margin-left: 20px;
}

#leagues_slct{
    margin-top: 30px;
     margin-bottom: 20px;
     width: 190px;
     display: inline-block;
     
}

#price_slct{
    margin-top: 30px;
     margin-bottom: 20px;
     width: 190px;
     display: inline-block;
}
  




.black_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
  }
  .white_content {
      direction: rtl;
    display: none;
    position: sticky;
    top: 0% ;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    border: 16px solid gold;
    background-color: white;
    z-index: 1002;
    overflow: auto;
  }

  #fade{
      height: 900%;
  }

  .white_content input{
      margin-bottom: 10px;
  }

  .white_content select{
    margin-bottom: 10px;
}
