
<!--nav bar-->
<app-nav-bar></app-nav-bar>


<div id="light" class="white_content"> <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'" style="display: block; color: black; "><i class="far fa-times-circle"></i></a>
  <img src={{tempshirt.img}} style="height: 350px; width: 350px;" style="float: left; height: 250px; width: 250px;" class="pic">
  <h1 style="font-size:29px; text-decoration: underline;">{{tempshirt.title}}</h1>
  
  <p style="font-weight: bolder;" >₪{{tempshirt.price}}  </p>
  <form>
    מידה
    <select class="shirtSize" aria-label="Default select example"  name="shirtSize" id="shirtSize" #shirtSize style="direction: rtl; margin-right: 10px;"  >
      <option value="small" >S</option>
      <option value="medium">M </option>
      <option value="large">L </option>
      <option value="xl"> XL</option>
      <option value="xxl"> XXL</option>
      <option value="xxxl">XXXL </option>
    </select>
    <br/>
    מספר
    <input type="number" min="0" max="99" value="0" id="number"  style="width: 50px; margin-right: 2px; "> 
    <br/>
    שם
    <input type="text"  id="name" style="margin-right: 18px;"> 
    <br/>
     שרוול ארוך
     <input type="checkbox" value="long" id="long" > 
   
     <button type="button"  class="btn btn-outline-warning" style="display: block; margin-top: 20px; margin-right: 248px;" [disabled]=!tepmBool> <i class="fas fa-shopping-cart"   ></i>הוסף לסל </button>
     <p *ngIf="!tepmBool" id="stock2" style="color: red;text-align: center; " >אזל המלאי</p>
  </form>
   

   
</div>
<div id="fade" class="black_overlay"></div>


<div id="theme" >
  
  <img src="assets/img/logo.png" id="logo" >
</div>
<hr style="height:9px;border-width:5;color:rgb(255, 217, 0);background-color:gold; margin-top: 0px; opacity: unset;" >
<h1 id="title"> - המוצרים שלנו -</h1>
<hr style="height:9px;border-width:5;color:gold;background-color:gold; margin-bottom: 50px; opacity: unset;">


<div id="catalogDiv">
 
  <div id="catalog">
    
    
  
    <app-product *ngFor="let shirt of filterShirts" [shirt]=shirt class="col-md-3 products" onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'" (click)="changeTempSirt(shirt)"></app-product>
</div>
</div>
<div id="coatalogOptions" >
  <form>
    
    <select class="form-select" aria-label="Default select example"  name="price" id="price_slct" #price_slct style="direction: rtl;" (change)="priceSort(price_slct.value)" >
      <option value="" disabled selected style="font-weight: bold;">מיין:</option>
      <option value="highPrice">מהמחיר הגבוה לנמוך</option>
      <option value="lowPrice" >מהמחיר הנמוך לגבוה </option>
     
    </select>
    <select class="form-select" aria-label="Default select example"  name="leagues" id="leagues_slct" #leagues_slct style="direction: rtl;" (change)="selectLeague(leagues_slct.value,price_slct.value)" >
      <option value="" disabled selected style="font-weight: bold;">סנן לפי:</option>
      <option value="all">הכל</option>
      <option value="England" >הליגה האנגלית</option>
      <option value="spain">הליגה הספרדית</option>
      <option value="France">הליגה הצרפתית</option>
      <option value="germany">הליגה הגרמנית</option>
      <option value="italy">הליגה האיטלקית</option>
    </select>
    <div id="englandCheckBox" #dd style="text-align: right; direction: rtl; display: none;" class="CheckBoxes">
      <input type="checkbox" id="arsenalR" name="arsenalR" value="Arsenal" class="radio" [(ngModel)]="filterteams.Arsenal">
      <label for="arsenalR"> ארסנל </label><br>
      <input type="checkbox" id="manchesterUnitedR" name="manchesterUnitedR" value="Manchester United" class="radio" [(ngModel)]="filterteams.ManchesterUnited" >
      <label for="manchesterUnitedR">מנצ'סטר יונייטד  </label><br>
      <input type="checkbox" id="manchesterCityR" name="manchesterCityR" value="manchesterCityR" class="radio"  [(ngModel)]="filterteams.manchesterCity">
      <label for="manchesterCityR">מנצ'סטר סיטי</label><br>
      <input type="checkbox" id="liverpoolR" name="liverpoolR" value="liverpoolR" class="radio"  [(ngModel)]="filterteams.liverpool">
      <label for="liverpoolR">ליברפול</label><br>
    </div>
  
    <div id="franceCheckBox" style="text-align: right; direction: rtl; display: none;" class="CheckBoxes">
      <input type="checkbox" id="lyonR" name="lyonR" value="lyonR" class="radio"  [(ngModel)]="filterteams.lyon">
      <label for="lyonR"> ליון </label><br>
      <input type="checkbox" id="marseilleR" name="marseilleR" value="marseilleR" class="radio"  [(ngModel)]="filterteams.marseille">
      <label for="marseilleR">מארסיי</label><br>
      <input type="checkbox" id="psgR" name="psgR" value="psgR" class="radio"  [(ngModel)]="filterteams.psg">
      <label for="psgR">פ.ס.ז</label><br>
    </div>
  
    <div id="germanyCheckBox" style="text-align: right; direction: rtl; display: none;" class="CheckBoxes">
      <input type="checkbox" id="bayernR" name="bayernR" value="bayernR" class="radio"  [(ngModel)]="filterteams.bayern">
      <label for="bayernR"> באיירן מינכן </label><br>
      <input type="checkbox" id="dortmundR" name="dortmundR" value="dortmundR" class="radio"  [(ngModel)]="filterteams.dortmund">
      <label for="dortmundR">דורטמונד </label><br>
    </div>
  
    <div id="italyCheckBox" style="text-align: right; direction: rtl; display: none;" class="CheckBoxes">
      <input type="checkbox" id="juventusR" name="juventusR" value="juventusR" class="radio"  [(ngModel)]="filterteams.juventus">
      <label for="juventusR"> יובנטוס </label><br>
      <input type="checkbox" id="millanR" name="millanR" value="millanR" class="radio"  [(ngModel)]="filterteams.millan">
      <label for="millanR">מילאן</label><br>
      <input type="checkbox" id="romaR" name="romaR" value="romaR" class="radio"  [(ngModel)]="filterteams.roma">
      <label for="romaR">רומא</label><br>
    </div>
  
    <div id="spainCheckBox" style="text-align: right; direction: rtl; display: none;" class="CheckBoxes">
      <input type="checkbox" id="atleticoR" name="atleticoR" value="atleticoR" class="radio"  [(ngModel)]="filterteams.atletico">
      <label for="atleticoR"> אתלטיקו מדריד </label><br>
      <input type="checkbox" id="barcelonaR" name="barcelonaR" value="barcelonaR" class="radio"  [(ngModel)]="filterteams.barcelona">
      <label for="barcelonaR">ברצלונה</label><br>
      <input type="checkbox" id="realR" name="realR" value="realR" class="radio"  [(ngModel)]="filterteams.real">
      <label for="realR">ריאל מדריד</label><br>
    </div>
    <button type="button" class="btn btn-outline-light" style="font-weight: bolder; border-width: 5px; width: 100px; display: none; margin: auto; margin-top: 30px;" id="btn1" (click)="teamsFilter()">סנן</button>
  </form>
  </div>
 
  <div id="div1">
    <br/>
    <app-contact-us></app-contact-us>
  </div>
  
  








