:host{
    direction: ltr;
}



#theme{
    width: 100%;
    height: 300px;
    background-image: url("/assets/img/themePicture.jpg");
    background-position: center;
    text-align: left;
}

#logo{
    width: 200px;
    height: 60px;
}

.products{

    display: inline-block;
    height: 50px;
    text-align: center;
    
}

#title{
    text-align: center;
    color: gold;
    font-size: 70px;
    font-weight: bolder;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-bottom: 30px;

}

#catalog{
    text-align: center;
}

.catalogIMG{
   
    width: 250px;
    height: 250px;
}

hr{
    color: gold;
    height: 6px;
}

#catalogDiv{
display: inline-block;
width: 80%;
}

#coatalogOptions{
    display:inline-block;
    position: absolute;
    width: 20%;
    text-align: center;
    background-color: gold;
    height: 1000px;
    
}

.radio{
    margin-left: 20px;
}

#leagues_slct{
    margin-top: 30px;
     margin-bottom: 20px;
     width: 190px;
     display: inline-block;
     
}
