<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
<!--nav bar-->
<app-nav-bar></app-nav-bar>


<div id="theme" >
  <img src="assets/img/logo.png" id="logo" >
</div>
<hr style="height:9px;border-width:5;color:rgb(255, 217, 0);background-color:gold; margin-top: 0px; opacity: unset;" >
<h1 id="title"> - המוצרים שלנו -</h1>
<hr style="height:9px;border-width:5;color:gold;background-color:gold; margin-bottom: 50px; opacity: unset;">


<div id="catalogDiv">
  <div id="catalog">
  
    <div *ngFor="let shirt of shirts"  class="col-md-3 products">
      <img src={{shirt.img}} class="catalogIMG">
      <p>{{shirt.title}}</p>
    </div>
</div>
</div>
<div id="coatalogOptions" >
  <form>
    
    <select class="form-select" aria-label="Default select example"  name="leagues" id="leagues_slct" #leagues_slct style="direction: rtl;" (change)="selectLeague(leagues_slct.value)" >
      <option value="" disabled selected style="font-weight: bold;">סנן לפי:</option>
      <option value="all">הכל</option>
      <option value="england" >הליגה האנגלית</option>
      <option value="spain">הליגה הספרדית</option>
      <option value="france">הליגה הצרפתית</option>
      <option value="germany">הליגה הגרמנית</option>
      <option value="italy">הליגה האיטלקית</option>
    </select>
    <div id="englandCheckBox" #dd style="text-align: right; direction: rtl; display: none;" class="CheckBoxes">
      <input type="checkbox" id="arsenalR" name="arsenalR" value="arsenalR" class="radio">
      <label for="arsenalR"> ארסנל </label><br>
      <input type="checkbox" id="manchesterUnitedR" name="manchesterUnitedR" value="manchesterUnitedR" class="radio">
      <label for="manchesterUnitedR">מנצ'סטר יונייטד  </label><br>
      <input type="checkbox" id="manchesterCityR" name="manchesterCityR" value="manchesterCityR" class="radio">
      <label for="manchesterCityR">מנצ'סטר סיטי</label><br>
      <input type="checkbox" id="liverpoolR" name="liverpoolR" value="liverpoolR" class="radio">
      <label for="liverpoolR">ליברפול</label><br>
    </div>
  
    <div id="franceCheckBox" style="text-align: right; direction: rtl; display: none;" class="CheckBoxes">
      <input type="checkbox" id="lyonR" name="lyonR" value="lyonR" class="radio">
      <label for="lyonR"> ליון </label><br>
      <input type="checkbox" id="marseilleR" name="marseilleR" value="marseilleR" class="radio">
      <label for="marseilleR">מארסיי</label><br>
      <input type="checkbox" id="psgR" name="psgR" value="psgR" class="radio">
      <label for="psgR">פ.ס.ז</label><br>
    </div>
  
    <div id="germanyCheckBox" style="text-align: right; direction: rtl; display: none;" class="CheckBoxes">
      <input type="checkbox" id="bayernR" name="bayernR" value="bayernR" class="radio">
      <label for="bayernR"> באיירן מינכן </label><br>
      <input type="checkbox" id="dortmundR" name="dortmundR" value="dortmundR" class="radio">
      <label for="dortmundR">דורטמונד </label><br>
    </div>
  
    <div id="italyCheckBox" style="text-align: right; direction: rtl; display: none;" class="CheckBoxes">
      <input type="checkbox" id="juventusR" name="juventusR" value="juventusR" class="radio">
      <label for="juventusR"> יובנטוס </label><br>
      <input type="checkbox" id="millanR" name="millanR" value="millanR" class="radio">
      <label for="millanR">מילאן</label><br>
      <input type="checkbox" id="romaR" name="romaR" value="romaR" class="radio">
      <label for="romaR">רומא</label><br>
    </div>
  
    <div id="spainCheckBox" style="text-align: right; direction: rtl; display: none;" class="CheckBoxes">
      <input type="checkbox" id="atleticoR" name="atleticoR" value="atleticoR" class="radio">
      <label for="atleticoR"> אתלטיקו מדריד </label><br>
      <input type="checkbox" id="barcelonaR" name="barcelonaR" value="barcelonaR" class="radio">
      <label for="barcelonaR">ברצלונה</label><br>
      <input type="checkbox" id="realR" name="realR" value="realR" class="radio">
      <label for="realR">ריאל מדריד</label><br>
    </div>
    <button type="button" class="btn btn-outline-light" style="font-weight: bolder; border-width: 5px; width: 100px; display: none; margin: auto; margin-top: 30px;" id="btn1" >סנן</button>
  </form>
  </div>






